.footer__container {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  color: #ffff;
  margin: 0 auto;
}

@media (max-width: 1150px) {
  .footer__container {
    max-width: 900px;
  }
}

@media (max-width: 950px) {
  .footer__container {
    max-width: 648px;
  }
}

@media (max-width: 690px) {
  .footer__container {
    max-width: 540px;
  }
}

@media (max-width: 610px) {
  .footer__container {
    max-width: 400px;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .footer__container {
    max-width: 260px;
    align-items: normal;
  }
}
