.example__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-top: 120px;
  margin-bottom: 0;
  min-width: 0;
}

@media (max-width: 1150px) {
  .example__list {
    margin-top: 70px;
  }
}
