.footer__button {
  background-color: #ffffff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  width: 470px;
  height: 54px;
  margin-top: 174px;
  margin-bottom: 60px;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.footer__button:hover {
  opacity: 0.93;
  transition: opacity 0.3s;
}

@media (max-width: 1150px) {
  .footer__button {
    width: 240px;
    height: 48px;
    margin-top: 130px;
    margin-bottom: 50px;
    font-size: 14px;
  }
}

@media (max-width: 610px) {
  .footer__button {
    width: 260px;
    height: 44px;
    margin-top: 95px;
    margin-bottom: 20px;
    font-size: 12px;
  }
}
