.feedback__button {
  background: #222222;
  border-radius: 8px;
  width: 194px;
  height: 54px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding: 0;
  border: none;
  margin-top: 10px;
  justify-self: end;
  grid-column: 2 / 3;
  transition: opacity 0.3s;
  cursor: pointer;
}

.feedback__button:hover {
  opacity: 0.85;
  transition: opacity 0.3s;
}

@media (max-width: 1150px) {
  .feedback__button {
    width: 470px;
    height: 48px;
    margin-top: 30px;
    font-size: 14px;
  }
}

@media (max-width: 520px) {
  .feedback__button {
    width: 260px;
    height: 44px;
    font-size: 12px;
  }
}
